
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; }

                /*shared style*/
                .all{
                                   max-width: 1140px;
            margin: 0 auto;
            
          }    
   main> section{
    margin-top: 130px;
  }  
  footer{
    margin-top: 150px;
  }     
img{
    max-width: 100%;
}
           main{
            max-width: 1140px;
            margin: 0 auto;
          }    
     .display-flex{
        display: flex;
     }  
  .simtext{
        font-size: 0.8 rem;
        color:rgba(0, 0, 0, 0.5) ;
     } 
 .hd{
    font-size: 2.5rem;
    font-weight: 700;

 }   

.head-sa{
   font-size: 16;
   color: #8987A1;
}
.home{
    font-size: bold 16;
    color: #252432;
}
.c-font{
font-size: 16;
}
.text-orange{
    color: #E95A08;
}
.text-black{
    color:#000000 ;
}

  .btn-primary {
            background-color: #E95A08;
            color: white;
           padding: 20px 20px ; 
         font-size: 0.8em;
            border: none;
           font-weight: 300;
          width: 100%;
            
        }

        .card-price{
            font-weight:800 ;
            font-size: 1rem;
        }
        .name{
            font-size: 1.2rem;
            font-weight: 600;
        }

          /* nav style*/



  .nav-bar{
    justify-content: space-between;
    height: 71px;

     
     
     
  }
  .nav-img{
 width:100%;
    

  }
  .nav-links{
 gap: 48px;
 list-style: none;

   
  }
  .nav-item{
    font-size: 1rem;
    font-weight: 500;
    color: #252432;
    text-decoration: none;
    padding: 0px 10px;
  }


  
  .nav-bar img{
          width:100%;
  }   
  .nav-link{
    text-decoration: none;
  } 
  
  .cart{
    height: 24px;
    width: 113px;
   gap: 5px;
  }
  .cart-img{
    height: 25px;
  


  }
    .banner  {   
       height: 461px;
       max-width: 100%;  
   
} 
.banner-text{
    width: 100%;
      margin-top: 101px;
 
}
.img-ban{
    width:100%;
    height: 355px;
    
 
}
.banner-title{
    font-size: 2.5rem;
    font-weight: 700;
}

.plant-para{
   text-align: center;
 height: 138px;
 justify-content: center;
 align-items: center;  
}

.container {
    height:999px ;
    width:100% ;
   margin-top: 49px;  
   margin-bottom:100px; 
 
}
    .plant-card{
    width: 100% ;
    height: 484px;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
 
 .card2{
 width:100%;
display: grid;
grid-template-columns: repeat(4,1fr);
column-gap: 10px;
  margin-bottom: 50px;
 } 
.card3{
 width:100%;
display: grid;
grid-template-columns: repeat(4,1fr);
column-gap: 10px;
  margin-bottom: 50px;
 } 
 .section3{
   
   width: 50%;
  height: 521px;
  gap: 20px;
  margin-top: 70px;
  margin-bottom: 38px;
 
 }
 .shop-text{  
    height: 597px;
    width: 100%;
    gap: 60px;
 }
 .flower-text li{
margin-top: 30px;
margin-bottom: 30px;
 }
 .shop-img{
    width: 100%;
    
 }
 .badge{
height: 286px;
width: 286px;
 position: relative;
left: 350px;
top: 200px;    
 }
 .lover{
  width: 100%;
margin: 0 auto ;
margin-bottom: 50px;
}
 
.deal-offer{
 display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 50px;

  width: 100%;
  margin-top: 100px;
}
 .deal-column{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
}

.deal-text{
    justify-content: center;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 134px;
}
.deal{
        width: 100%;
margin: 0 auto ;

}


.deal-font{
  color: #FFFFFF  ;
  font-size: 2.4rem;
  font-weight: 600;
  height: 50px;

}

.deal-font2{
  color: none  ;
  background-color: none;
  font-size: 1.3rem;
  font-weight: 600;
  height: 27px;
 color: #FFFFFF;

}
.deal-btn{
  text-decoration: underline solid 3px #FFFFFF;
  height: 72px;
background: none; }

 .text-white{
  color: #FFFFFF;
  
 } 

.deal-btn2{
  text-decoration: underline solid 3px #FFFFFF;
  height: 32px;
background: none; }



.shop-now{
color: #FFFFFF;
 font-size: 1rem;
  font-weight:600;
font-size: 1.5rem;
 
}
.shop-now2{
color: #FFFFFF;
 font-size: 1rem;
  font-weight:600;
font-size: 0.8rem; }

m


.deal-offer{
  height: 424px;
   display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
}

.deal-column{
  height: 424px;
   width:100%

}



.zabo{
 background-image: url('../assets/deal-zabo.png');

 filter: brightness(58%);
 height: 424px;
 width: 100%;
 border-radius: 15px;
 text-align: center;
 justify-content: center;
  align-content: center;
  ;
}

.bloom{
background-image: url('../assets/deal-bloom.png');
filter: brightness(58%);
height: 201px;
width: 100%;
border-radius: 14px;
align-content: center;
justify-content: center;
text-align: center;
align-items: center;

}
.ana{
background-image: url('../assets/deal-ana.png');
filter: brightness(58%);
height: 201px;
width: 100%;
border-radius: 14px;
 text-align: center;
 justify-content: center;
  align-content: center;
}

.join{
  background-image: url('../assets/news-letter-bg.png');
  height: 533px;
  width: 100%;
  text-align: center;  
  align-content: center;
  margin-bottom: 90px;
  margin: 0 0;
  justify-content: center;
}
.join-text{
  color: #FFFFFF;
  width: 100%;
}

  .btn-footer {
            background-color: #E95A08;
            color: white;
                    font-size: 1.2rem;
            border: none;
            font-weight: 500;
         width: 40%;
         padding: 20px 26px;
           height: 54px;
           margin: 0 auto;
        }   
   
.email{
  width: 60%;
  height: 50px;
  margin: 0 auto;
}
.form{
  display: flex;
  justify-content: center;
 align-items: center;
 width: 100%;
 margin: 0 auto;
 text-align: center; }



.footer{
    width: 100%;
    height: 248px;
    margin: 0 auto;
   ;}

    

.footer-logo{
    height:179px ;
    width:30%;
margin-bottom: 69px;
margin-right: 111px;
}

.footer-list, .footer-list2{

  list-style: none;
}
.last1{
  height: 248px;
  width: 10%;
margin-right: 111px;
}
.last2{
    height: 248px;
  width: 14%;

}
.last1 ul li {
              margin-top: 15px;
margin-bottom: 15px;
}


 .last2 ul li{
             margin-top: 15px;
margin-bottom: 15px; 
}
.icon{
  margin-left: 110px;
  height: 30%;
  width: 215px;
}

.last-part{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;







}
  





                             /* responsive design */

       @media screen and ( max-width:576px) {

   main> section{
    margin-top: 130px;
  }  
#cart-all{
  display: contents;
 }

  .badge{
    display: none;
  }  
 
        .nav-item{
            display: none;        }
   

        .banner{
    flex-direction: column-reverse;
     margin-top: 280px;}
.plant{
        margin-bottom: 230px;

 margin-top:195px;
}
        .container{
    margin-top: 98px;
     margin-bottom:200px; }


.shop-text,
.deal-offer
{
   flex-direction: column;
}
.card2, .card3{
   grid-template-columns: repeat(2,1fr);
}

.lover{
margin-top: 1030px;
}

.section3{
  width: 100%;
}

.deal{
  margin-top: 600px;
  gap: 20px;

}
.deal-offer{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
  column-gap: 50px;
}
.join{
  margin-top: 50px;
  margin-bottom:px;
}

.last-part{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 440px;

gap: 50px;
}

.bloom{
  height: 200px;
  width: 100%;
 margin-bottom: 30px;
}
.zabo{
  height: 200px;
  width: 100%;
  margin-top: 30px;
}
.ana{
  height: 200px;
  width: 100%;
  margin-bottom: 30px;
}
.deal-column{
  width: 100%; }
 


  }
 
 
     